@font-face {
  font-family: "Figtree";
  src: url("../assets/fonts/Figtree-VariableFont_wght.ttf") format("truetype"),
    url("../assets/fonts/static/Figtree-ExtraBold.ttf") format("truetype"),
    url("../assets/fonts/static/Figtree-SemiBold.ttf") format("truetype");
  font-weight: 400; /* Normal */
  font-style: normal;
}

@font-face {
  font-family: "Figtree";
  src: url("../assets/fonts/Figtree-VariableFont_wght.ttf") format("truetype");
  font-weight: 700; /* Bold */
  font-style: normal;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
