*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

a {
  text-decoration: none;
}

p,
h1,
h2 {
  overflow-wrap: break-word;
}

#root {
  isolation: isolate;
}

@font-face {
  font-family: "Figtree";
  src: url("../assets/fonts/Figtree-VariableFont_wght.ttf") format("truetype"),
    url("../assets/fonts/static/Figtree-ExtraBold.ttf") format("truetype"),
    url("../assets/fonts/static/Figtree-SemiBold.ttf") format("truetype");
  font-weight: 400; /* Normal */
  font-style: normal;
}

@font-face {
  font-family: "Figtree";
  src: url("../assets/fonts/Figtree-VariableFont_wght.ttf") format("truetype");
  font-weight: 1200; /* Bold */
  font-style: normal;
}

body {
  font-family: "Figtree";
}
